* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Black", sans-serif;
}

.wraping {
  background-color: #323232;
}

.navbar {
  background-color: #2d4059;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  user-select: none;
  z-index: 999;
}

.navbar-gallery {
  background-color: transparent;
}

.nav-item a {
  position: relative;
  letter-spacing: 0.5px;
}

.nav-item a::after {
  content: "";
  position: absolute;
  background: linear-gradient(93deg, rgba(255, 255, 255, 1) 15%, rgba(84, 129, 188, 1) 100%);
  height: 3px;
  width: 0%;
  left: 10%;
  bottom: 0px;
}

.nav-item a:hover::after {
  width: 80%;
  transition: 1s ease-in-out;
}

/* Banner */

.display-1 {
  color: #e3763e;
}

#front-x {
  animation: berputar 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#back-x {
  animation: berputar 4.5s linear infinite reverse;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes berputar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-head h1 {
  color: #e3763e;
}

.head-line {
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
}

.instagram,
.facebook {
  color: white;
  font-size: 40px;
  transition: 1s;
}

.youtube {
  color: white;
  font-size: 48px;
  transition: 1s;
}

.instagram:hover,
.facebook:hover,
.youtube:hover {
  transform: scale(1.1) scaleZ(1.2);
  color: white;
}

.btn-contact {
  background-color: #e3763e;
  color: white;
  transition: 1s ease;
}

.btn-contact:hover {
  background: linear-gradient(265.68deg, #ec7643 1.1%, rgba(109, 35, 35, 0.5) 75%);
  color: rgb(223, 223, 223);
}
/* End Banner */

/* Contect Section */
.content-wraping {
  background-color: #282828;
  color: #d9d9d9;
}

.content-wraping h2 {
  font-size: 48px;
  text-shadow: 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.article-odd p,
.article-even p {
  font-size: 12px;
}

.more {
  color: #d9d9d9;
}

.more:hover {
  color: #b9b9b9;
}

.bi-arrow-right {
  position: relative;
  left: 10px;
  font-size: 25px;
}

.wave2 {
  z-index: 4;
}

.top-footer {
  position: relative;
}

.top-footer .experience {
  position: absolute;
  top: 20%;
}

.top-footer h6 {
  position: relative;
  top: -2px;
  margin-bottom: 0;
  line-height: 1.8;
}

.wave3 {
  position: absolute;
  top: 75%;
}

h6.coyright.text-center {
  font-size: 12px;
}

/* GALLERY */

nav .navGallery ul {
  background-color: #2d4059;
}

.wraping .sorotan {
  font-size: 56px;
  color: #b9b9b9;
  text-shadow: 4px 6px 4px #00000040;
  margin-bottom: 30px;
}

.banner-gallery {
  background-image: url("../img/gallery/header-gallery.jpg");
  max-width: 100% !important;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-gallery h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(-90deg, #e3763e 0%, rgba(227, 118, 62, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-sorotan {
  color: #d9d9d9;
}

.gallery-content {
  padding-bottom: 100px;
}

.gallery-wraping {
  background-color: #282828;
}

.gallery-content .gallery-title {
  font-size: 56px;
  color: #d9d9d9;
  text-shadow: 4px 6px 4px #00000040;
}

.gallery-footer {
  top: -100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/gallery/wave-footer.svg");
}

.gallery-footer h6 {
  padding-top: 100px;
  padding-bottom: 0px;
  font-size: 12px;
  line-height: 1.8;
}

/* About  */

/* Header */
/* Left Side */
.display-2 {
  color: #ec7643;
}

/* right side */
#circle-blur {
  animation: berputar-besar 5s linear infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes berputar-besar {
  from {
    transform: rotate(0deg);
    transform: scale(1);
  }
  to {
    transform: rotate(360deg);
    transform: scale(1.1);
  }
}

#tari {
  animation: geser 2s linear infinite alternate-reverse;
}

@keyframes geser {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0px);
  }
}

#nama-about {
  transition: 0.3s ease-in-out;
}

#nama-about:hover {
  transform: scale(0.99);
}

/* Main About */
.main-about {
  font-family: "Lobster", cursive;
}

.bottom-bawah {
  padding-bottom: 100px !important;
}

/* About Footer */
.about-footer {
  top: -100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/about/wave-about.svg");
}
.about-footer h6 {
  padding-top: 90px;
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 1.8;
}

/* Responsive Media Query Min Width*/

/* Mobile M */
@media screen and (min-width: 321px) {
  /* Gallery */
  .gallery-footer h6 {
    padding-top: 90px;
    padding-bottom: 15px;
    font-size: 12px;
  }
}

/* Mobile L */
@media screen and (min-width: 376px) {
  /* Gallery */
  .gallery-footer {
    top: -110px;
  }
  .gallery-footer h6 {
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 12px;
  }
}

/* Tablet  */
@media screen and (min-width: 576px) {
  .wraping .sorotan {
    font-size: 64px;
    color: #b9b9b9;
    text-shadow: 4px 6px 4px #00000040;
  }

  .article-odd p,
  .article-even p {
    font-size: 16px;
  }

  h6.coyright.text-center {
    font-size: 16px;
  }

  /* Gallery.html */
  .gallery-content {
    padding-bottom: 200px;
  }

  .banner-gallery h1 {
    font-size: 80px;
  }

  .gallery-footer {
    top: -180px;
  }
  .gallery-footer h6 {
    padding-top: 150px;
    padding-bottom: 35px;
    font-size: 12px;
  }

  /* About.html */
  .bottom-bawah {
    padding-bottom: 150px !important;
  }

  .about-footer h6 {
    padding-top: 100px;
    padding-bottom: 4px;
    font-size: 12px;
  }
}

/* Laptop */
@media screen and (min-width: 769px) {
  .bi-arrow-right {
    position: relative;
    left: 10px;
    font-size: 35px;
  }

  .more .bi-arrow-right {
    animation: arrow-right-animation 3s ease-in-out infinite;
  }

  @keyframes arrow-right-animation {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-4px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* gallery */
  .banner-gallery {
    min-height: 500px;
  }

  .banner-gallery h1 {
    font-size: 112px;
  }

  .gallery-content {
    padding-bottom: 200px;
  }

  .gallery-footer {
    top: -220px;
  }
  .gallery-footer h6 {
    padding-top: 180px;
    padding-bottom: 50px;
    font-size: 16px !important;
  }

  /* About.html */
  .about-footer {
    top: -190px;
  }
  .bottom-bawah {
    padding-bottom: 280px !important;
  }

  .about-footer h6 {
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

/* Laptop L */
@media screen and (min-width: 1025px) {
  /* Gallery */

  .gallery-footer {
    top: -280px;
  }
  .gallery-footer h6 {
    padding-top: 180px;
    padding-bottom: 60px;
    font-size: 16px !important;
  }
}
